<form action="/{{id}}" method="post">
    <input name="firstName" type="text" value="{{firstName}}" />
    <input name="secName" type="text" value="{{secName}}" />
    <input name="id" type="text" value="{{id}}" />
    <button>edit</button>
</form>